# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Special environment ignores (IDEs, editors, etc ...)
*.opensdf
*.sdf
*.suo

# Build directories, including intermediates
build/*

# Keep OGRE directories hidden for now ...
ogre/*

# THIS IS A COMMENT
